$order: (
  responsive: true,
  property: order,
  values: (
    first: -1,
    0: 0,
    1: 1,
    2: 2,
    3: 3,
    4: 4,
    5: 5,
    6: 6,
    7: 7,
    8: 8,
    9: 9,
    last: 10,
  ),
);

@import '../node_modules/bootstrap/scss/bootstrap';

.container {
  margin: 15px auto;
}

.col {
  padding: 5px;
  border: 1px solid #000;
}

.ott {
  background: red;
}

.tbp {
  background: green;
}

.afk {
  background: blue;
}
