@keyframes animate {
  33.3% {
    /* translate(x, y) */
    transform: translate(0, calc(100vh - 100px));
  }

  66.6% {
    /* translate(x, y) */
    transform: translate(calc(100vw - 100px), calc(100vh - 100px));
  }

  100% {
    /* translate(x, y) */
    transform: translate(calc(100vw - 100px), 0);
  }
}

body {
  margin: 0;
}

.box {
  width: 100px;
  height: 100px;
  background-color: black;
}

.box-animate {
  animation: animate 10s ease-out forwards;
}
